name: Terraform Infrastructure Deploy 

on:
  push:
    branches:
      - master
    paths:
      - 'terraform/infrastructure/**'
  pull_request:
    branches:
      - master
    path: 
      - 'terraform/infrastructure/**'
  workflow_dispatch:

env:
  TF_VERSION: '1.6.6'
  WORKING_DIR: './terraform/infrastructure'

jobs:
  terraform-lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3.1.1
      with: 
        terraform_version: ${{ env.TF_VERSION }}

    - name: Terraform Format
      run: terraform fmt -check -recursive
      working-directory: ${{ env.WORKING_DIR }}

    - name: Setup TFLint
      uses: terraform-linters/setup-tflint@v4.0.0

    - name: TFLint 
      run: tflint --recursive
      working-directory: ${{ env.WORKING_DIR }}

  terraform-apply:
    needs: terraform-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Verify AWS CLI
        run: aws --version

      - name: Setup Terraform 
        uses: hashicorp/setup-terraform@v3.1.1
        with: 
          terraform_version: ${{ env.TF_VERSION }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with: 
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'eu-central-1'

      - name: Terraform Init
        run: terraform init
        working-directory: ${{ env.WORKING_DIR }}
        env: 
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Terraform Validate
        run: terraform validate -no-color
        working-directory: ${{ env.WORKING_DIR }}

      - name: Terraform Plan 
        run: terraform apply -auto-approve -no-color
        working-directory: ${{ env.WORKING_DIR }}
        env: 
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
